PORT=your_value_here
MONGO_URI=your_value_here
JWT_SECRET=your_value_here
JWT_EXPIRES_IN=your_value_here
CLOUDINARY_CLOUD_NAME=your_value_here
CLOUDINARY_API_KEY=your_value_here
CLOUDINARY_API_SECRET=your_value_here
STRIPE_SECRET_KEY=your_value_here
EMAIL_USER=your_value_here
EMAIL_PASS=your_value_here
FRONTEND_URL=your_value_here
